.box{
    width: auto;
    height: 300px;
    padding: -10px;
    margin: -15px -5px;
    color: red;
    background: lightgray;
    z-index: 0;
    position: relative;

;
}


.g{


}

.h{
    background: orange;
    z-index: 1;

}